---
import Navbar from '../components/layout/Navbar.astro';
import Hero from '../components/layout/Hero.astro';
import IndustryTrustBar from '../components/layout/IndustryTrustBar.astro';
import ServicePillars from '../components/layout/ServicePillars.astro';
import HowItWorks from '../components/layout/HowItWorks.astro';
import TradeFeatures from '../components/layout/TradeFeatures.astro';
import Trades from '../components/layout/Trades.astro';
import Statistics from '../components/layout/Statistics.astro';
import Reviews from '../components/layout/Reviews.astro';
import OurWork from '../components/layout/OurWork.astro';
import Values from '../components/layout/Values.astro';
import FAQ from '../components/layout/FAQ.astro';
import CTASection from '../components/layout/CTASection.astro';
import Footer from '../components/layout/Footer.astro';
import '../styles/global.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<Navbar />
		<Hero />
		<IndustryTrustBar />
		<ServicePillars />
		<HowItWorks />
		<TradeFeatures />
		<Trades />
		<Statistics />
		<Reviews />
		<OurWork />
		<Values />
		<FAQ />
		<CTASection />
		<Footer />
	</body>
</html>
